.hotel-booking {
  display: flex;
  margin: 10px;
}

.left-sidebar {
  flex: 1;
  border-radius: 20px;
  padding: 20px;
  background-color: #fbfbfb;
  border-right: 1px solid #ccc;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.filter-item {
  margin-bottom: 20px;
}

.location-input,
.date-picker {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1em;
}

.date-picker-wrapper {
  display: flex;
  gap: 20px;
}

.guest-counter .counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.counter-control button {
  background-color: #30306f;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.counter-control span {
  margin: 0 10px;
  font-size: 1rem;
}

.price-slider-wrapper {
  position: relative;
}

.price-slider-wrapper .relative {
  position: relative;
  height: 8px;
  background-color: #e1e0e0;
  border-radius: 4px;
  margin-top: 10px;
}

.price-slider-wrapper .absolute {
  position: absolute;
}

.price-slider-wrapper .absolute.bg-blue-500 {
  background-color: #30306f; /* Blue for the active slider */
  height: 8px;
}

.price-slider-wrapper .absolute.w-4 {
  width: 16px;
  height: 16px;
  background-color: #30306f;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.price-slider-wrapper .flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.right-listing {
  flex: 3;
  padding: 20px;
}

.listing-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hotel-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.hotel-img {
  width: 100px;
  height: 100px;
  object-fit: fill;
}

.hotel-details {
  padding: 10px;
  flex: 1;
}

.hotel-details h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.hotel-details p {
  margin: 5px 0;
}

.book-btn {
  background-color: #30306f;
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.book-btn:hover {
  background-color: #4a4a9b;
}

.book-btn:active {
  background-color: #30306f;
}

.location-input:focus,
.date-picker:focus {
  border-color: #30306f;
}

.filter-item label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-item .date-picker-wrapper {
  margin-bottom: 15px;
}

.filter-item .counter-control button:hover {
  background-color: #4040a4;
}

